* {
    box-sizing: border-box;
}


.row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
}


.column {
    flex: 1 1 calc(25% - 16px);
    max-width: calc(25% - 16px);
    padding: 8px;
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.column:hover .overlay {
    opacity: 1;
}

.overlay h3 {
    margin: 5px 0;
    font-size: 18px;
}

.overlay .buttons {
    display: flex;
    gap: 10px;
}

.overlay button {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.overlay button:hover {
    background: white;
    color: black;
}


.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    color: white;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


.user-name {
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}


.column img {
    width: 100%;
    height: auto;
    display: block;
}


.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
}

#searchInput,
#filterSelect {
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #212121;
    color: white;
    font-size: 16px;
    outline: none;
}

#searchInput {
    width: 60%;
}

#searchInput:hover,
#searchInput:focus,
#filterSelect:hover,
#filterSelect:focus {
    border-color: white;
    outline: none;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
}


#filterSelect option {
    background-color: #212121;
    color: white;
}

#filterSelect {
    width: 35%;
}




@media screen and (max-width: 1024px) {
    .column {
        flex: 1 1 calc(50% - 16px);
        max-width: calc(50% - 16px);
    }
}


@media screen and (max-width: 768px) {
    .column {
        flex: 1 1 calc(50% - 16px);
        max-width: calc(50% - 16px);
    }
}


@media screen and (max-width: 600px) {
    .column {
        flex: 1 1 100%;
        max-width: 100%;
    }
}