* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: ui-sans-serif,-apple-system,system-ui,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
    background-color:#212121;
    color: white;
    padding-top: 99px;
    box-sizing: border-box;
}


main {
    min-height: calc(100vh - 99px);
}


.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    color: white;
}

.upper-text {
    flex: 1;
    text-align: center;
    margin-top: 20px;
}

.upper-text h1 {
    font-size: 50px;
    margin: 0;
    color: #c9d1d9;
    padding: 0;
    line-height: 1;
    margin-bottom: 40px;
}

.upper-text h1 .secondary {
    display: block;
    font-size: 50px;
    margin: 0;
    padding: 0;
    line-height: 1;
}


.upper-text i {
    color: #c9d1d9;
    margin-left: 10px; 
}



.lower-text{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 200px;
    position: relative;
}


/* Chat-Box */
/* Chat Container */
.chat-container {
    background-color: #2a2a2a;  
    border-radius: 25px;
    max-width: 640px;
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    max-height: 150px; 
    overflow: hidden;
}

.chat-container:hover,
.chat-container:focus-within {
    border-color: white;
    outline: none;
    box-shadow: 0 0 6px white;
}


.chat-info {
    font-size: 14px;
    color: #888; 
    text-align: center;
    margin-bottom: 5px; 
}

/* Chat Box */
.chat-box {
    display: flex;
    flex-direction: column;  
    gap: 10px;
    width: 100%;
}

/* Container for Attach, Record, and Send Buttons */
.chat-input-container {
    display: flex;              
    align-items: center;       
    width: 100%;                
    gap: 10px;                        
}

/* Atach, record, and Send Buttons */
.attach-button, .record-button, .send-button {
    background-color: #212121;
    color: #e6ebf1;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}


.attach-button:hover, .record-button:hover, .send-button:hover {
    background-color: #5a5a5a;
    color: white;
}

/* height and position */
.attach-button, .record-button {
    width: 36px;
    height: 36px;
}

.send-button {
    width: 36px;
    height: 36px;
    margin-left: auto;          
}

/* Chat Input */
.chat-input {
    background-color: #2a2a2a;
    color: #e6ebf1;
    padding: 5px;
    font-size: 16px;
    border: none;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    line-height: 1.4;
    min-height: 30px;  
    height: auto;  
    overflow: hidden;
}

.chat-input::placeholder {
    color: #8d8d92;
}

.chat-input:hover {
    background-color: #2a2a2a;
}

.chat-input:focus {
    background-color: #2a2a2a;  
    color: white; 
}

/* Send button */
.send-button {
    width: 36px;
    height: 36px;
    background-color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 18px; 
    color: #212121;
    flex-shrink: 0;
    margin-left: auto;
}

.send-button:hover {
    background-color: #5a5a5a; 
    color: white;
}

.send-button:focus {
    outline: none;
}



@media (max-width: 768px) {
    .navbar nav {
        display: none; 
    }
    
    .hamburger-menu {
        display: flex; 
    }
    
    .sidebar {
        z-index: 100; 
    }
}